<div class='modal' id='forcesDialog'>
  <div class='dialog-header'>
    <h1 mat-dialog-title>启用力 / 质量 / 重力功能？</h1>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <img src='assets/ForcesDialog.jpg' alt='力模块' class='dialogImage'>
  <app-not-ready-warning></app-not-ready-warning>
  <div mat-dialog-actions align='end'>
    <button mat-button (click)='onNoClick()'>取消</button>
    <button mat-raised-button cdkFocusInitial (click)='onYesClick()' color='primary'>启用力</button>
  </div>
</div>
